<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base1::Layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <title>DOCUMENT</title>
</head>
<body>
<section>
    <h1>THIS IS NEW HTML HEADING</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad asperiores atque aut corporis culpa cupiditate delectus
        dignissimos dolorem dolores eligendi enim esse explicabo id
        ipsum, itaque iure magnam maiores minima molestiae necessitatibus
        nemo nesciunt nihil numquam perspiciatis quas quasi quibusdam quo
        sed similique tempora tempore ullam ut voluptas volupjhjtate
        voluptatibus.</p>
</section>

</body>
</html>